<!DOCTYPE html>
<html>
<head>
    <title>Froala Design Blocks - Skeleton</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-design-blocks/2.0.1/css/froala_blocks.min.css">
    <link rel="stylesheet" href="/static/owlcarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/owlcarousel/dist/assets/owl.theme.default.min.css">
    
</head>

<body>
    <!-- Insert HTML for contents. -->

        <!-- header -->

    <header class="bg-dark">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="https://cdn0.froala.com/assets/froala-design-955decbace6bdfbf52dfaa4c0ac6a5a4.svg" height="30" alt="image">
                </a>
        
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav13" aria-controls="navbarNav13" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarNav13">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.froala.com">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.froala.com">Team</a>
                        </li>
                    </ul>
        
                    <ul class="navbar-nav justify-content-end ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.froala.com">Docs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.froala.com">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.froala.com">Log In</a>
                        </li>
                    </ul>
        
                    <a class="btn btn-light ml-md-3" href="{% url 'registration' %}">Register</a>
                </div>
            </nav>
        </div>
    </header>
        <!-- end header -->


    <section class="fdb-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <img alt="image" class="img-fluid" src="/static/images/undraw_special_event_4aj8.svg">
                </div>
                <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left">
                    <h1>Froala Blocks</h1>
                    <p class="lead">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <p><a class="btn btn-secondary mt-4" href="https://www.froala.com">Download</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="fdb-block bg-dark" style="background-image: url(https://cdn.pixabay.com/photo/2016/03/27/19/00/coffee-1283672__480.jpg);">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1>Services</h1>
                </div>
            </div>
    
            <div class="row-70"></div>
    
            <div class="owl-carousel owl-theme text-center justify-content-sm-center no-gutters">
                <div class="item m-auto">
                    <div class="fdb-box fdb-touch">
                        <h2>Feature 1</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        <p class="mt-4"><a href="https://www.froala.com">Learn More <i class="fas fa-angle-right"></i></a></p>
                    </div>
                </div>
                <div class="item m-auto  pt-xl-0">
                    <div class="fdb-box fdb-touch">
                        <h2>Feature 2</h2>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p class="mt-4"><a href="https://www.froala.com">Learn More <i class="fas fa-angle-right"></i></a></p>
                    </div>
                </div>
                <div class="item m-auto  pt-xl-0">
                    <div class="fdb-box fdb-touch">
                        <h2>Feature 3</h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        <p class="mt-4"><a href="https://www.froala.com">Learn More <i class="fas fa-angle-right"></i></a></p>
                    </div>
                </div>
                <div class="item m-auto  pt-xl-0">
                    <div class="fdb-box fdb-touch">
                        <h2>Feature 3</h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        <p class="mt-4"><a href="https://www.froala.com">Learn More <i class="fas fa-angle-right"></i></a></p>
                    </div>
                </div>

            </div>
        </div>
    </section>

                        <!-- Pricing -->
    <section class="fdb-block" style="background-image: url(/static/images/undraw_zoom_in_1txs.svg)">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h1 class="text-light">Pricing</h1>
                </div>
            </div>
        
            <div class="row mt-5 align-items-center">
                <div class="col-12 col-sm-10 col-md-8 col-md-8 m-auto col-lg-4 text-center">
                    <div class="fdb-box shadow pb-5 pt-5 pl-3 pr-3 rounded">
                        <h2>Hobby</h2>
                        <p class="lead"><strong>$9 / month</strong></p>
                        <p class="h3 font-weight-light">Even the all-powerful Pointing has no control about.</p>
            
                        <ul class="text-left mt-5 mb-5">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
        
                        <p><a href="https://www.froala.com" class="btn btn-outline-primary mt-4">Subscribe</a></p>
                    </div>
                </div>

                <div class="col-12 col-sm-10 col-md-8 col-md-8 m-auto col-lg-4 text-center pt-4 pt-lg-0">
                    <div class="fdb-box shadow pb-5 pt-5 pl-3 pr-3 fdb-touch rounded">
                        <h2 class="text-primary">Professional</h2>
                        <p class="lead"><strong>$19 / month</strong></p>
                        <p class="h3 font-weight-light">Far far away, behind the word mountains, far from.</p>
            
                        <ul class="text-left mt-5 mb-5">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
            
                        <p><a href="https://www.froala.com" class="btn btn-primary mt-4">Subscribe</a></p>
                    </div>
                </div>

                <div class="col-12 col-sm-10 col-md-8 col-md-8 m-auto col-lg-4 text-center pt-4 pt-lg-0">
                    <div class="fdb-box shadow pb-5 pt-5 pl-3 pr-3 rounded">
                        <h2>Business</h2>
                        <p class="lead"><strong>$49 / month</strong></p>
                        <p class="h3 font-weight-light">Wild Question Marks, but the Little Blind Text didn’t listen.</p>
            
                        <ul class="text-left mt-5 mb-5">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
            
                        <p><a href="https://www.froala.com" class="btn btn-outline-primary mt-4">Subscribe</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
                        <!-- end Pricing -->
    <section class="fdb-block team-2">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-8">
                    <h1>Meet Our Team</h1>
                </div>
            </div>

            <div class="row-50"></div>

            <div class="row text-center justify-content-center">
                <div class="col-sm-3 m-sm-auto">
                    <img alt="image" class="img-fluid rounded-circle" src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/male_avatar_323b.svg">

                    <h2>Sara Doe</h2>
                    <p>Founder</p>
                </div>

                <div class="col-sm-3 m-sm-auto">
                    <img alt="image" class="img-fluid rounded-circle" src="/static/images/undraw_female_avatar_l3ey.svg">

                    <h2>Sara Doe</h2>
                    <p>Founder</p>
                </div>

                <div class="col-sm-3 m-sm-auto">
                    <img alt="image" class="img-fluid rounded-circle" src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/male_avatar_323b.svg">

                    <h2>Sara Doe</h2>

                    <p>Founder</p>
                </div>
            </div>
        </div>
    </section>

    <section class="fdb-block">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-12 col-md-8 col-lg-7">
                    <h1>Contact Us</h1>
                    <p class="lead">One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                </div>
            </div>
    
            <div class="row pt-4">
                <div class="col-12 col-md-6">
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8444388087937!2d26.101253041406952!3d44.43635311654287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff4770adb5b7%3A0x58147f39579fe6fa!2zR3J1cHVsIFN0YXR1YXIgIkPEg3J1yJthIEN1IFBhaWHIm2Ui!5e0!3m2!1sen!2sro!4v1507381157656"
                    width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
    
                <div class="col-12 col-md-6 pt-5 pt-md-0">
                    <form>
                        <div class="row">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Enter email">
                            </div>
                        </div>
        
                        <div class="row mt-4">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Subject">
                            </div>
                        </div>  
                        <div class="row mt-4">
                            <div class="col">
                                <textarea class="form-control" name="message" rows="3" placeholder="How can we help?"></textarea>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
       
    <footer class="fdb-block footer-small bg-dark">
        <div class="container">
            <div class="row text-center align-items-center">
            <div class="col">
                <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="https://www.froala.com">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.froala.com">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.froala.com">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.froala.com">Terms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.froala.com">About</a>
                </li>
                </ul>
        
                <p class="h5 mt-5">© 2013-2018 Froala</p>
            </div>
            </div>
        </div>
    </footer>


        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="/static/owlcarousel/dist/owl.carousel.min.js"></script>
        <script>
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1,
                    nav:true
                },
                600:{
                    items:2,
                    nav:false
                },
                1000:{
                    items:3,
                    nav:true,
                    loop:false
                }
            }
        })</script>
</body>
</html>    